* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
}

.page{
    height:100vh;
    width: 100vw;
   
    background-image: url("../images/bg3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    position: absolute;
    
}
.form-ctn{
    background-color: blueviolet;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 70%;
    width: 70%;
    
    top: 100px;
    position: relative;
    
   
}

.bookInfo-form{
    background-color: brown;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10% 5%;
}

.submit-btn{
    position: relative;
    padding: 10px 20px;
    top: 75px;
}