* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 300vh;
    font-family: 'Mitr', sans-serif;
    overflow: overlay;
}

/* Scroll */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: rgba(255, 0, 0, .4); */
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgba(139, 139, 139, .8);
    border-radius: 8px 0px 0px 8px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgb(111, 111, 111);
}

/* #cover_ctn {
    position: relative;
    width: 100%;
    height: 120vh;
    z-index: -1;
}

#cover_img {
    position: relative;
    width: 100%;
    height: 100vh;
} */
