* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#bookPage {
    position: relative;
    width: 100%;
    height: 100vh;
}

.book_ctn  {
    position: absolute;
    display: flex;
    top: 15vh;
    left: 5%;
    width: 90%;
    height: 77vh;
    /* background-color: rebeccapurple; */
}

.circleBase {
    position: absolute;
    width: 87%;
    /* height: 300px; */
    background-color: #ECE3F0;
    border-radius: 50%;
    /* top: 18%; */
}

.ctn_book_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    padding: 2%;
    /* background-color: aquamarine; */
}

.book_img {
    position: absolute;
    margin: 0px;
    width: 65%;
    /* height: 35%; */
    box-shadow: 3px 3px 12px 0.2px #919191;
    /* top: 18%; */
} 

.book_img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
}

.book_info_ctn {
    position: relative;
    right: 0;
    width: 65%;
    height: 100%;
    padding: 2%;
    /* margin: 2%; */
    /* background-color: beige; */
}

.book_info_name {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.8vw;
    color: #9A76B2;
    /* background-color: red; */
}

.book_info_author {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.2vw;
    color: #dcb4ed;
}

.book_info_description  {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.2vw;
    margin-top: 25px;
    color: #231F20;
}

.ctn_envet {
    position: absolute;
    width: 100%;
    height: 6.5%;
    /* background-color: #dcb4ed; */
    bottom: 12%;
}

.btn_envet_heart {
    position: relative;
    display: inline-block;
    width: 4.4%;
    margin-right: 2%;
    height: 100%;
    cursor: pointer;
    border-radius: 24%;
    background-color: #D1D3D7;
}

.btn_envet_heart span {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

#heart_Icon {
    position: absolute;
    width: auto;
    /* left: 5px; */
    height: 80%;
    /* color: #dcb4ed; */
    color: #666666;
    transition: .1s;
}

.btn_envet_heart:hover #heart_Icon{
    color: #dcb4ed;
}

.btn_envet_heart:hover span{
    background-color: #e5e8ef;
    border-radius: 24%;
}

.btn_envet_addToCart {
    position: relative;
    display: inline-block;
    width: 4.4%;
    margin-right: 2%;
    height: 100%;
    cursor: pointer;
    border-radius: 24%;
    background-color: #D1D3D7;
}

.btn_envet_addToCart span {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

#shopping-cart_Icon {
    position: absolute;
    width: auto;
    /* left: 5px; */
    height: 80%;
    /* color: #dcb4ed; */
    color: #666666;
    transition: .1s;
}

.btn_envet_addToCart:hover #shopping-cart_Icon{
    color: #dcb4ed;
}

.btn_envet_addToCart:hover span{
    background-color: #e5e8ef;
    border-radius: 24%;
}

.ctn_envet_edit {
    position: relative;
    display: inline-block;
    width: 4.4%;
    margin-right: 2%;
    height: 100%;
    cursor: pointer;
    border-radius: 24%;
    background-color: #D1D3D7;
}

.ctn_envet_edit span{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

#edit_Icon {
    position: absolute;
    width: auto;
    height: 80%;
    /* color: #dcb4ed; */
    color: #666666;
    transition: .1s;
}

.ctn_envet_edit:hover #edit_Icon{
    color: #dcb4ed;
}

.ctn_envet_edit:hover span{
    background-color: #e5e8ef;
    border-radius: 24%;
}

.ctn_envet_delete {
    position: relative;
    display: inline-block;
    width: 4.4%;
    margin-right: 2%;
    height: 100%;
    cursor: pointer;
    border-radius: 24%;
    background-color: #D1D3D7;
}

.ctn_envet_delete span {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

#delete-outline_Icon {
    position: absolute;
    width: auto;
    height: 80%;
    /* color: #dcb4ed; */
    color: #666666;
    transition: .1s;
}

.ctn_envet_delete:hover #delete-outline_Icon{
    color: #dcb4ed;
}

.ctn_envet_delete:hover span{
    background-color: #e5e8ef;
    border-radius: 24%;
}

.ctn_status {
    position: absolute;
    display: inline-block;
    right: 10%;
    width: 12%;
    margin-right: 2%;
    height: 100%;
    border-radius: 17px;
    background-color: #03de91;
    font-size: 1.1vw;
}

.ctn_status span {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

.btn_exit_edit {
    position: absolute;
    right: 19%;
    top: calc(7.5vh + 45px);
    cursor: pointer;
    font-size: 1.5vw;
    transition: .15s ease-in-out;
    color: rgb(255, 255, 255);
}

.btn_exit_edit:hover {
    color: rgb(183, 71, 231);
}

.Edit_comp_active {
    animation: showEditActive .25s forwards ease-in-out;
}

@keyframes showEditActive {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
  
.Edit_comp_passive {
    animation: showEditPassive .15s forwards ease-in-out;
}

@keyframes showEditPassive {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

.Edit_comp_active {
    position: absolute;
    width: 100%;
    height: 100%;
}  