* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.btn_checkout {
    position: fixed;
    width: 10%;
    height: 35px;
    right: 2%;
    top: 12vh;
    /* background-color: rgb(7, 183, 124); */
    background-color: rgba(242, 102, 137, .8);
    border-radius: 12px;
    font-size: 1.2vw;
    color: #fff;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.btn_checkout:hover {
    background-color: #f13c69;
}


.btn_checkout_text {
    position: absolute;
    width: 75%;
    height: 100%;
    right: 0;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#check_out_Icon {
    position: absolute;
    width: 25%;
    height: 80%;
    left: 5%;
    top: 10%;
}

.cartPage{
    position: relative;
    height: auto;
    width: 90%;
    left: 5%;
    top: calc(10vh + 35px);
    /* background-color: aqua; */

    
}

.itemCtn{
    position: relative;
    height: 270px;
    width: 100%;
    /* background-color: red; */
    margin-bottom: 5vh;
}

.cart_product_img {
    position: absolute;
    display: inline-block;
    width: 15%;
    height: 100%;
    /* background-color: #f13c69; */
}

.cart_product_img img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.cart_product_info {
    position: absolute;
    display: inline-block;
    width: 85%;
    height: 100%;
    right: 0;
    top: 0;
    background-image: linear-gradient(300deg, rgba(193, 171, 205, 0.0) 15%, rgba(242, 102, 233, 0.48) 60%, rgba(195, 102, 242, 0.8));
    padding: 2%;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
}

.base_cart {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(-60deg, rgba(255, 255, 255, 0) 30%, rgba(179, 12, 213, 0.9) 10%, rgba(255, 255, 255, 0)70%, rgba(255, 255, 255, 0));
    /* background-color: rgba(70, 70, 70, .8); */
    /* animation: slide 5s infinite linear; */
    filter: blur(1px);
    transform: translateX(-500%);
}

@keyframes slide {
    0%{
        transform: translateX(-500%);
        opacity: 1;
    }
    25% {
        transform: translateX(0px);
        opacity: 0.4;
    }
    45% {
        /* transform: translateX(500%); */
        opacity: 0;
    }
    50% {
        transform: translateX(500%);
        opacity: 0;
    }
    75% {
        transform: translateX(0px);
        opacity: 0;
    }
    100% {
        transform: translateX(-500%);
        opacity: 0;
    }
}

.index_cart {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 1.3%;
    top: 4%;
    /* background-color: #f13c69; */
    font-size: 1.5vw;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    /* text-decoration: inherit; */
}

.Name_cart {
    position: relative;
    width: 100%;
    /* height: ; */
    /* background-color: #e53cf1; */
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 0.8%;
    margin-left: 2%;
}

.Author_cart {
    position: relative;
    width: 100%;
    /* height: ; */
    /* background-color: #3cf1d3; */
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 0.8%;
    margin-left: 2%;
}

.Category_cart {
    position: relative;
    width: 100%;
    /* height: ; */
    /* background-color: #3cf1d3; */
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 0.8%;
    margin-left: 2%;
}

.Publisher_cart {
    position: relative;
    width: 100%;
    /* height: ; */
    /* background-color: #3cf1d3; */
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 0.8%;
    margin-left: 2%;
}

.Time_cart{
    position: relative;
    width: 100%;
    /* height: ; */
    /* background-color: #3cf1d3; */
    font-size: 1.5vw;
    color: #fff;
    margin-bottom: 0.8%;
    margin-left: 2%;
}

.btn_cart_remove {
    position: absolute;
    width: 3%;
    height: 15%;
    background-color: rgba(242, 102, 137, .8);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s ease-in-out;
    right: 1.5%;
    bottom: 6%;
}

.btn_cart_remove:hover {
    background-color: #f73868;
}

#delete_Icon {
    position: relative;
    width: 80%;
    height: auto;
    color: #fff;
    /* left: 10%; */
}

.confirm_delete {
    position: fixed;
    width: 30%;
    height: auto;
    left: 35%;
    top: 32.5vh;
    background-image: linear-gradient(180deg, rgba(193, 171, 205, 0.6), rgba(154,118,178, 0.7), rgba(242,102,137, 0.8));
    border-radius: 12px;
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

.confirm_checkout {
    position: fixed;
    width: 30%;
    height: auto;
    left: 35%;
    top: 32.5vh;
    background-image: linear-gradient(180deg, rgba(193, 171, 205, 0.6), rgba(154,118,178, 0.7), rgba(242,102,137, 0.8));
    border-radius: 12px;
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

.confirm_delete_img {
    position: relative;
    width: 20%;
    height: 20%;
}

.confirm_delete_img img {
    position: absolute;
    width: 100%;
    height: auto;
}

.confirm_delete_text {
    position: absolute;
    width: 100%;
    color: #ffffff;
    font-size: 1.6vw;
    text-align: center;
    bottom: 23%;
    /* background-color: #0391de; */
}

.confirm_delete_ok {
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 12%;
    background-color: #03de91;
    left: 15%;
    bottom: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    font-size: 1.1vw;
}

.confirm_delete_ok:hover {
    background-color: #00cc85;
    color: #ffffff;
}

.confirm_delete_no {
    position: absolute;
    display: inline-block;
    width: 20%;
    height: 12%;
    background-color: #f25579;
    right: 15%;
    bottom: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.15s ease-in-out;
    font-size: 1.1vw;
}

.confirm_delete_no:hover {
    background-color: #ec2856;
    color: #ffffff;
}

.btn_exit_confirm_delete {
    position: absolute;
    right: 3.4%;
    top: 2%;
    cursor: pointer;
    font-size: 1.5vw;
    transition: .15s ease-in-out;
    color: rgb(255, 255, 255);
}

.btn_exit_confirm_delete:hover {
    color: rgb(183, 71, 231);
}

.Delete_comp_active {
    animation: showDeleteActive .25s forwards ease-in-out;
}

@keyframes showDeleteActive {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
  
.Delete_comp_passive {
    animation: showDeletePassive .15s forwards ease-in-out;
}

@keyframes showDeletePassive {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}
