* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#donatePage{

    
        height: 100%;
        width: 100%;
        background-color: rgb(87, 234, 187);

}


.itemCtn{
    margin-top: 100px;
    height: 200px;
    width: 400px;
    background-color: rgb(157, 255, 0);
    margin: 20px;

}