* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#historyPage{
    position: relative;
    height: 100%;
    width: 92%;
    left: 4%;
    top: 10vh;
    /* background-color:rgb(127, 255, 236); */
}

.Inprogress_title {
    position: relative;
}

.Inprogress_title h2 {
    position: relative;
    background-color: rgb(253, 156, 180);
    width: 100%;
    height: 100%;
    border-radius: 0.4vw;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 1.5vw;
    color: #fff;
}

.itemCtn_progress{
    position: relative;
    display: inline-flex;
    /* background-color: rgb(157, 255, 0); */
    align-items: center;
    /* margin: 0.4%; */
}

.itemCtn_Returned{
    position: relative;
    display: inline-flex;
    /* background-color: rgb(157, 255, 0); */
    align-items: center;
}

.title_history {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.title_history h1 {
    font-size: 2.3vw;
}

#history_Icon {
    position: absolute;
    top: 7.5%;
    left: 9%;
    width: 5%;
    height: 85%;
    /* background-color: beige; */
}

.ctn_image_Inprogress {
    position: relative;
    width: 35%;
    height: 100%;
    /* background-color: blue; */
    display: inline-block;
}

.ctn_image_Inprogress img {
    position: relative;
    width: 100%;
    height: 100%;
}

.ctn_content_Inprogress {
    position: relative;
    width: 65%;
    height: 100%;
    top: 0px;
    display: inline-block;
    /* background-color: rgba(90, 181, 234, 0.6); */
    padding: 2% 0.7% 2% 2%;
    overflow-y: scroll;
    border-radius: 0 0.6vw 0.6vw 0;
    font-size: 1vw;
}

.btn_removeCart {
    position: absolute;
    width: 15%;
    height: 12%;
    right: 2%;
    bottom: 4%;
    border-radius: 0.3vw;
    background-color: rgba(68, 68, 68, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    transition: 0.15s ease-in-out;
    cursor: default;
    color: #fff;
}

.btn_removeCart:hover {
    background-color: rgba(117, 117, 117, 0.8);
}

.ctn_content_Inprogress::-webkit-scrollbar {
    width: 0.5vw;
    /* margin-right: 0.05vw; */
}

/* Handle */
.ctn_content_Inprogress::-webkit-scrollbar-thumb {
    background: rgba(143, 143, 143, 0.8);
    border-radius: 0.4vw;
}

/* Handle on hover */
.ctn_content_Inprogress::-webkit-scrollbar-thumb:hover {
    background: rgba(183, 183, 183, 0.8);
}

.add_gradient_pending {
    background-image: linear-gradient(-60deg, rgba(240, 152, 25, .8), rgba(237, 222, 93, .8));
}

.add_gradient_approve {
    background-image: linear-gradient(-60deg, rgba(76, 184, 196, .8), rgba(60, 211, 173, .8));
}

.add_gradient_deny {
    background-image: linear-gradient(-60deg, rgba(235, 51, 73, .7), rgba(244, 135, 67, 0.6));
}

.add_gradient_return {
    background-image: linear-gradient(-60deg, rgba(97, 67, 133, 0.8), rgba(81, 99, 149, 0.8));
}

.add_gradient_return2 {
    background-image: linear-gradient(-60deg, rgba(84, 105, 117, .8), rgba(187, 210, 197, .8));
}

.Returned_title h2 {
    position: relative;
    background-color: rgb(156, 208, 253);
    width: 100%;
    height: 100%;
    border-radius: 0.4vw;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    font-size: 1.5vw;
    color: #fff;
}

.ctn_image_Returned {
    position: relative;
    width: 35%;
    height: 100%;
    display: inline-block;
}

.ctn_content_Returned {
    position: relative;
    width: 65%;
    height: 100%;
    top: 0px;
    display: inline-block;
    /* background-color: rgba(90, 181, 234, 0.6); */
    padding: 2% 0.7% 2% 2%;
    overflow-y: scroll;
    border-radius: 0 0.6vw 0.6vw 0;
    font-size: 1vw;
}

.ctn_image_Returned img {
    position: relative;
    width: 100%;
    height: 100%;
}

.Return_limit_text {
    /* color: rgb(245, 85, 98); */
    text-decoration: underline solid 2px;
    text-decoration-color: rgb(195, 89, 97);
}

.ctn_remind  {
    position: absolute;
    width: 48%;
    height: 15%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    right: 0;
    top: 0;
    padding: 0 0 0 1.5%;
    /* margin-top: 0.3vw; */
    margin-right: 0.3vw;
    background-color: rgb(235, 164, 164);
    border-radius: 0 0 0.5vw 0.5vw;
}

.ctn_remind img {
    position: relative;
    width: 20%;
    height: 80%;
    display: inline-block;
}

.ctn_remind div {
    position: relative;
    font-size: 0.8vw;
    width: 80%;
    height: 100%;
    /* background-color: red; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* padding-left: 1%; */
    color: #fff;
}

.ctn_timeOut_img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(247, 102, 102, .5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn_timeOut_img img {
    position: absolute;
    width: 60%;
    height: 50%;
}

.ctn_timeOut  {
    position: absolute;
    width: 100%;
    height: 20%;
    left: 0;
    bottom: 7%;
    font-weight: 700;
    /* background-color: bisque; */
    font-size: 2vw;
    color: rgb(247, 102, 102);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ctn_returned_empty {
    position: relative;
    width: 100%;
    font-size: 1.6vw;
}

.ctn_inprogress_empty {
    position: relative;
    width: 100%;
    font-size: 1.6vw;
}
