* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#historyPage{
    position: relative;
    height: 100%;
    width: 92%;
    left: 4%;
    top: 10vh;
    background-color:rgb(127, 255, 236);
}


.itemCtn_progress{
    position: relative;
    display: inline-flex;
    background-color: rgb(157, 255, 0);
    align-items: center;
    margin: 0.4%;
}

.itemCtn_return{
    margin-top: 100px;
    height: 200px;
    width: 400px;
    background-color: rgb(157, 255, 0);
    margin: 20px;

}

.title_history {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

#history_Icon {
    position: absolute;
    /* left: 30%; */
    top: 7.5%;
    left: 8%;
    width: 5%;
    height: 85%;
    /* background-color: beige; */
}

.ctn_image_Inprogress {
    position: relative;
    width: 35%;
    height: 100%;
    /* background-color: blue; */
    display: inline-block;
}

.ctn_image_Inprogress img {
    position: relative;
    width: 100%;
    height: 100%;
}

.ctn_content_Inprogress {
    position: relative;
    width: 65%;
    height: 100%;
    top: 0px;
    display: inline-block;
    background-color: red;
    padding-left: 1.5%;
}