* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#historyPage{

    
        height: 100%;
        width: 100%;
        background-color: rgb(216, 121, 216);

}


.itemCtn{
    margin-top: 100px;
    height: 100px;
    width: 400px;
    background-color: rgb(157, 255, 0);
    margin: 20px;

}