* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.model {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}

.model .exit_search {
  position: absolute;
  top: calc(10vh + 30px);
  right: 10%;
  margin: 6px 15px 0 0;
  z-index: 1;
  cursor: pointer;
  font-size: 1.5vw;
  transition: .15s ease-in-out;
  color: rgb(208, 141, 237);
}

.exit_search:hover {
  /* color: rgb(0, 140, 255); */
  color: rgb(183, 71, 231);
}

.filter_listbook {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  /* background-color: rgba(217, 171, 236, 0.8); */
  background-image: linear-gradient(rgba(250, 236, 242, 0.8), rgba(213, 180, 228, 0.8), rgba(137, 79, 162, 0.8));
  padding: 20px;
  border-radius: 0px;
  z-index: 1;
}

#list_books {
  position: absolute;
  top: calc(10vh + 30px);
  left: 10%;
  width: 80%;
  height: 80vh;
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  z-index: 1;
  /* background-color: rgb(255, 255, 255); */
  background-color: rgb(247, 235, 251);
  border-radius: 12px;
  /* box-shadow: 3px 3px 8px #333333; */
  padding: 1.5%;
  overflow: hidden;
}

.searchbar_active {
  animation: showSearchbarActive .25s forwards ease-in-out;
}

@keyframes showSearchbarActive {
  0% {
      opacity: 0;
      transform: scale(0.95);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}

.searchbar_passive {
  animation: showSearchbarPassive .15s forwards ease-in-out;
}

@keyframes showSearchbarPassive {
  0% {
      opacity: 1;
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(0.95);
  }
}

.ctn_books {
  position: relative;
  margin: 1.5% 0 1.5% 0;
  left: 1.5%;
  width: 97%;
  height: 97%;
  /* background-color: aquamarine; */
  overflow-y: scroll;
}

.div_books  {
  position: relative;
  display: inline-block;
  /* background-color: red; */
  transition: .13s ease-in-out;
  margin-bottom: 20%;
}

/* ////////////////////////////////////////  */

/* .bookImg {
  position: relative;
  width: 100%;
  height: 72%;
} */

.bookImg {
  position: relative;
  width: 100%;
  height: 100%;
}

.cover_book_img {
  position: relative;
  width: 100%;
  height: 64.8%;
}

/* ////////////////////////////////////////  */

.box_info {
  position: relative;
  /* cursor: pointer; */
  top: 0%;
  width: 100%;
  height: 25.2%;
  /* background-color: aquamarine; */
  transition: 0.15s ease-in-out;
}

.box_info:hover .bookName {
  color: #F26689;
}

.bookName {
  position: relative;
  top: 0;
  padding: 2%;
  width: 100%;
  height: 60%;
  font-size: 0.9vw;
  color: rgb(0, 0, 0);
  /* background-color: bisque; */
  cursor: default;
  transition: 0.15s ease-in-out;
}

.bookAuthor {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2%;
  font-size: 0.9vw;
  font-weight: 700;
  width: 100%;
  height: 30%;
  color: rgb(0, 0, 0);
  /* background-color: rgb(185, 15, 86); */
  cursor: default;
}

.btn_addToCart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2% 0 2%;
  font-size: 1.1vw;
  font-weight: 400;
  width: 100%;
  height: 10%;
  color: rgb(255, 255, 255);
  /* background-color: rgb(15, 185, 168); */
  background-color: #F26689;
  cursor: pointer;
  transition: .13s ease-in-out;
  /* opacity: 0; */
  border-radius: 5px;
}

.btn_addToCart:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(245, 61, 107);
}

.cover_book_img::before {
  content: '';
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 138.888%;
  background-image: linear-gradient(180deg,rgba(243, 207, 207, 0.6) 60%, rgba(224, 169, 248, 0.8));
  transform: translateY(-90%);
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: 3;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  pointer-events: none;
}

.cover_book_img:hover::before {
  transform: translateY(0%);
  opacity: 1;
}

.cover_book_img::after {
  content: 'Show more';
  color: #fff;
  font-size: 1.5vw;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 138.888%;
  opacity: 0;
  transition: 0.3s ease-in-out 0.15s;
  z-index: 3;
  pointer-events: none;
  
}

.cover_book_img:hover::after {
  transform: translateY(50%);
  opacity: 1;
}

#list_books ::-webkit-scrollbar-thumb {
  background: rgba(154, 118, 178, .8);
  border-radius: 8px;
}

#list_books ::-webkit-scrollbar-thumb:hover {
  background: rgba(145, 80, 188, 0.8);
}
