* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar_ctn {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    /* background-color: aquamarine; */
    align-items: center;
    z-index: 10;
    opacity: 1;
}

.logo_ctn {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: 2%;
    /* background-color: red; */
}

.logo_ctn img {
    position: relative;
    width: 8.5%;
    /* bottom: -4px; */
    /* background-color: blue; */
}

#logo {
    position: relative;
    color: rgb(0, 0, 0);
    font-weight: 500;
    font-size: 2vw;
}

#manuAll {
    position: absolute;
    display: flex;
    justify-content: right ;
    align-items: center;
    width: 45%;
    height: 100%;
    /* background-color: blueviolet; */
    right: 0;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1.2vw;
    padding: 0 1.5% 0 1.5%;
}

#manuAll span {
    position: relative;
    margin-left: 8%;
    /* background-color: yellow; */
    cursor: pointer;
}

#manuAll span:hover {
    color: rgb(0, 140, 255);
}

.active {
    animation: nevshow .5s ease-in-out forwards;
}

@keyframes nevshow {
    0%{
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 1;
        z-index: 2;
    }
}

.noactive {
    animation: nevfade .5s ease-in-out forwards;
}

@keyframes nevfade {
    0%{
        opacity: 1;
        z-index: 2;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.ctn_user_image_nev {
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    /* background-color: red; */
    align-items: center;
    justify-content: left;
}

.ctn_user_image_nev img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.optionbar {
    margin-top: 6px;
    position: absolute;
    right: 0;
    /* top: 100%; */
    width: 250px;
    height: 300px;
    background-color: rgba(44, 44, 44, 0.9);
    z-index: 2;
    border-radius: 2%;
    color: #faf4f4;
}

.optionbar_active {
    animation: showOptionActive .25s forwards ease-in-out;
}

@keyframes showOptionActive {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.optionbar_passive {
    animation: showOptionPassive .15s forwards ease-in-out;
}

@keyframes showOptionPassive {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

.op_profile{
    position: relative;
    padding: 0 8% 0 8%;
    margin-top: 0px;
    width: 100%;
    height: 10%;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
}
.op_profile:hover{
    background-color: rgba(110, 110, 110, 0.6);
}

.op_history{
    position: relative;
    padding: 0 8% 0 8%;
    margin-top: 0px;
    width: 100%;
    height: 10%;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
}

.op_history:hover{
    background-color: rgba(110, 110, 110, 0.6);
}

.op_logout{
    position: relative;
    padding: 0 8% 0 8%;
    margin-top: 0px;
    width: 100%;
    height: 10%;
    font-size: 0.9vw;
    display: flex;
    align-items: center;
    border-radius: 2%;
}

.op_logout:hover{
    background-color: rgba(110, 110, 110, 0.6);
}

.op_img {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 15%;
    width: 100%;
    height: 67%;
    /* background-color: aqua; */
}

.op_img img {
    position: absolute;
    width: 30%;
    height: auto;
    border-radius: 50%;
}

.op_footer {
    position: absolute;
    width: 100%;
    top: 60%;
    /* background-color: blue; */
}

.op_footer hr {
    position: relative;
    top: 10px;
    border-bottom: 1px solid #747474;
}

.op_name {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding-top: 15%; */
    width: 100%;
    height: 20%;
}

.op_username {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding-top: 15%; */
    width: 100%;
    height: 20%;
    font-size: 0.9vw;
    color: rgb(197, 196, 196);
}