* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#profilePage {
    position: relative;
    width: 90%;
    height: 28vh;
    left: 5%;
    top: calc(10vh + 32px);
    /* background-color: #8f0bc7; */
}

.ctn_profile_img {
    position: absolute;
    width: 30%;
    height: 100%;
    /* background-color: bisque; */
    /* display: flex;
    justify-content: center; */
}

.ctn_profile_img img{
    position: absolute;
    /* width: 40%; */
    height: 90%;
    top: 5%;
    right: 25%;
    border-radius: 12px;
    box-shadow: 3px 3px 12px 0.2px #919191;
}

.ctn_profile_info {
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
    background-color: rgba(236, 227, 240, .0);
    background-image: linear-gradient(300deg, rgba(193, 171, 205, 0.0) 15%, rgba(242, 102, 233, 0.4) 60%, rgba(242,102,137, 0.8));
    padding: 1.5% 2% 2% 4%;
    /* padding-top: 3%; */
    color: #fff;
    font-size: 1.7vw;
    border-radius: 8px 0 0 8px;
    overflow: hidden;
}

.profile_name {
    position: relative;
    /* background-color: red; */
    margin-bottom: 2%;
}

.profile_username {
    position: relative;
    /* background-color: rgb(32, 49, 177); */
    margin-bottom: 2%;
}

.profile_role {
    position: relative;
    /* background-color: rgb(195, 24, 161); */
    margin-bottom: 2%;
}

.base_profile {
    position: absolute;
    width: 20%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(-60deg, rgba(255, 255, 255, 0) 30%, rgba(213, 12, 129, 0.9) 10%, rgba(255, 255, 255, 0)70%, rgba(255, 255, 255, 0));
    /* background-color: rgba(70, 70, 70, .8); */
    animation: slide 5s infinite linear;
    filter: blur(1px);
}

@keyframes slide {
    0%{
        /* background-image: linear-gradient(-60deg, rgba(255, 255, 255, 0) 30%, rgba(246, 1, 70, 0.9) 10%, rgba(255, 255, 255, 0)70%, rgba(255, 255, 255, 0)); */
        transform: translateX(-500%);
        opacity: 1;
    }
    25% {
        transform: translateX(0px);
        opacity: 0.4;
    }
    45% {
        /* transform: translateX(500%); */
        opacity: 0;
    }
    50% {
        transform: translateX(500%);
        opacity: 0;
    }
    75% {
        transform: translateX(0px);
        opacity: 0;
    }
    100% {
        transform: translateX(-500%);
        opacity: 0;
    }
}

.menu_profile {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 45vh;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.btn_addbook {
    position: relative;
    display: inline-block;
    /* background-color: blue; */
    color: rgb(154,118,178);
    width: 12%;
    height: 100%;
    left: 31%;
    transition: .15s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#add_book_Icon {
    position: absolute;
    width: 22%;
    height: auto;
    left: 5%;
    display: flex;
    align-items: center;
    /* top: 10%; */
    /* border-color: aquamarine; */
}

.addbook_text {
    font-size: 1.5vw;
    font-weight: 700;
    position: absolute;
    height: 100%;
    width: 70%;
    left: 30%;
    display: inline-block;
    /* background-color: red; */
    display: flex;
    align-items: center;
    /* justify-content: left; */
    padding-left: 2%;
    color: rgb(154,118,178);
    transition: .15s ease-in-out;
}

.btn_addbook:hover {
    color: rgb(146, 63, 201);
}

.btn_addbook:hover .addbook_text{
    color: rgb(146, 63, 201);
}

.btn_request {
    position: relative;
    display: inline-block;
    /* background-color: blue; */
    color: rgb(154,118,178);
    width: 15%;
    height: 100%;
    left: 31%;
    transition: .15s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 1%;
}

#request_Icon {
    position: absolute;
    width: 15%;
    height: auto;
    left: 10%;
    /* top: 15%; */
    /* border-color: aquamarine; */
}

.request_text {
    font-size: 1.5vw;
    font-weight: 700;
    position: absolute;
    height: 100%;
    width: 70%;
    left: 30%;
    display: inline-block;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
    color: rgb(154,118,178);
    transition: .15s ease-in-out;
}

.btn_request:hover {
    color: rgb(146, 63, 201);
}

.btn_request:hover .request_text{
    color: rgb(146, 63, 201);
}

.btn_donation {
    position: relative;
    display: inline-block;
    /* background-color: blue; */
    color: rgb(154,118,178);
    width: 15%;
    height: 100%;
    left: 31%;
    transition: .15s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#donation_Icon {
    position: absolute;
    width: 16.5%;
    height: auto;
    left: 10%;
    /* top: 15%; */
    /* border-color: aquamarine; */
}

.donation_text {
    font-size: 1.5vw;
    font-weight: 700;
    position: absolute;
    height: 100%;
    width: 70%;
    left: 30%;
    display: inline-block;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
    color: rgb(154,118,178);
    transition: .15s ease-in-out;
}

.btn_donation:hover {
    color: rgb(146, 63, 201);
}

.btn_donation:hover .donation_text{
    color: rgb(146, 63, 201);
}

.ctn_addbookpage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.btn_exit_addbook {
    position: absolute;
    font-size: 1.4vw;
    top: 13vh;
    right: 19%;
    color: #fff;
    cursor: pointer;
}

.btn_exit_addbook:hover {
    color: rgb(183, 71, 231);
}

.add_comp_active {
    animation: showaddActive .25s forwards ease-in-out;
}

@keyframes showaddActive {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
  
.add_comp_passive {
    animation: showaddPassive .15s forwards ease-in-out;
}

@keyframes showaddPassive {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}

.edit_profile_ctn {
    position: absolute;
    top: 16vh;
    left: 26%;
    width: 25%;
    padding: 0.3% 1% 0.6% 1% ;
    /* height: 30vh; */
    /* background-color: rgba(75, 68, 73, .6); */
    background-image: linear-gradient(320deg, rgba(171, 204, 205, 0.6), rgba(118, 178, 176, 0.7), rgba(102, 242, 177, 0.8));
    border-radius: 0 .8vw .8vw .8vw;
}

.edit_name_ctn {
    position: absolute;
    top: 16vh;
    right: 14%;
    width: 25%;
    padding: 0.3% 1% 0.6% 1% ;
    /* height: 30vh; */
    /* background-color: rgba(75, 68, 73, .6); */
    background-image: linear-gradient(40deg, rgba(171, 204, 205, 0.6), rgba(118, 178, 176, 0.7), rgba(102, 242, 177, 0.8));
    border-radius: .8vw 0 .8vw .8vw;
}

.edit_profile_ctn h1{
    position: relative;
    font-size: 1.5vw;
    width: 100%;
    height: 23%;
    /* background-color: rgb(69, 71, 71); */
}

.edit_name_ctn h1{
    position: relative;
    font-size: 1.5vw;
    width: 100%;
    height: 23%;
    /* background-color: rgb(69, 71, 71); */
}

.input_ctn {
    position: relative;
    width: 100%;
    height: 55%;
    /* background-color: beige; */
    display: flex;
    align-items: center;
}

.input_ctn input[type=file] {
    font-size: 0.94vw;
    position: relative;
    width: 100%;
    /* background-color: red; */
    /* border-radius: ; */
    outline: none;
    border: none;
    color: #fff;
}

.input_ctn input[type=file]::file-selector-button {
    font-size: 0.94vw;
    /* display: flex;
    align-items: center; */
    text-align: center;
    padding-top: 2px;
    position: relative;
    width: 30%;
    height: 100%;
    background-color: #8e87f4;
    border-radius:0.4vw;
    /* outline: none; */
    border: none;
    color: #fff;
    transition: .15s ease-in-out;
    margin-right: 4%;
    cursor: pointer;
}

.input_ctn input[type=file]::file-selector-button:hover {
    background-color: #a39ff2;
}

.submit_edit_profile {
    position: relative;
    width: 100%;
    height: 22%;
    /* background-color: rgb(39, 195, 114); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_edit_name {
    position: relative;
    width: 100%;
    height: 22%;
    /* background-color: rgb(39, 195, 114); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit_btn {
    font-size: 1vw;
    position: relative;
    display: inline-block;
    background-color: #16b28e;
    width: 25%;
    height: 100%;
    cursor: pointer;
    margin: 0 6% 0 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    transition: .15s ease-in-out;
    color: #fff;
}

.submit_btn:hover {
    background-color: #68d2b9;
}

.default_btn {
    font-size: 1vw;
    position: relative;
    display: inline-block;
    background-color: #ecbe37;
    width: 25%;
    height: 100%;
    cursor: pointer;
    margin: 0 6% 0 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4vw;
    transition: .15s ease-in-out;
    color: #fff;
}

.default_btn:hover {
    background-color: #efcf70;
}

.edit_Icon_ctn {
    position: absolute;
    width: 2%;
    background-color: rgba(206, 206, 206, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    left: 20%;
    top: 7.5%;
    z-index: 1;
    transition: .12s ease-in-out;
}

#edit_Icon {
    position: absolute;
    width: 100%;
    font-size: 1.3vw;
    transition: .12s ease-in-out;
    color: #363333;
}

.edit_Icon_ctn_name {
    position: absolute;
    width: 3%;
    background-color: rgba(206, 206, 206, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 10%;
    top: 10%;
    z-index: 1;
    transition: .12s ease-in-out;
}

#edit_Icon_name {
    position: absolute;
    width: 100%;
    font-size: 1.3vw;
    transition: .12s ease-in-out;
    color: #363333;
}

.edit_Icon_ctn:hover {
    background-color: rgba(250, 221, 221, 0.8);
}

.edit_Icon_ctn:hover #edit_Icon{
    color: #f25579;
}

.edit_Icon_ctn_name:hover {
    background-color: rgba(250, 221, 221, 0.8);
}

.edit_Icon_ctn_name:hover #edit_Icon_name{
    color: #f25579;
}

.Edit_profile_active {
    animation: showEditProfileActive .25s forwards ease-in-out;
}

@keyframes showEditProfileActive {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
  
.Edit_profile_passive {
    animation: showEditProfilePassive .15s forwards ease-in-out;
}

@keyframes showEditProfilePassive {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}
